* {
    margin: 0px;
    padding: 0px;
}

header {
    background-color: black;
    color: white;
    height: 300px;
}
.header > h1 {
    text-align: center;
    padding-top: 100px;
    font-size: 80px;
}

.header > p {
    text-align: center;
    padding-top: 20px;
    font-size: 20px;
}

main {
    font-family: cursive;
    font-size: 40px;
    /* max-width: 600px; */
    text-align: justify;
    
}

.container p {
    display: block;
    max-width: 600px;
    margin-left: 50px;

}

.parallax1 {
    min-height: 600px;
    width: 100%;
    background-image: url(/src/imagens/joaninha.jpeg);
    background-attachment: fixed;
    background-position: right center;
    background-repeat: no-repeat;
    background-size: cover;
}

.conteudo2 {
    width: 600px ;
    /* border: 2px solid white; */
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.473);
    position: absolute;
    top: 850px;
    background-image: linear-gradient(to right, black, transparent);
    color: white;
    
}

.parallax2 {
    min-height: 600px;
    width: 100%;
    background-image: url(/src/imagens/background002.jpg);
    background-attachment: fixed;
    background-position: right center;
    background-repeat: no-repeat;
    background-size: cover;
}

.conteudo4 {
    width: 600px;
    /* border: 2px solid white; */
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.473);
    position: absolute;
    top: 2340px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.678), transparent);
    color: white;

}













footer {
    background-color: black;
    color: white;
    height: 40px;
}

footer > p {
    text-align: center;
    font-size: 20px;
    padding-top: 5px;
}